@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.feature-item {
  @apply text-sm font-bold bg-zinc-800 px-2 py-1 rounded-md;
}

.unstyled-btn {
  @apply font-inter w-full hover:bg-gray-mantine-light p-2 rounded-md;
}

::placeholder {
  @apply select-none;
}

picture {
  @apply select-none;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

details summary {
  cursor: pointer;
}

details summary > h1 {
  display: inline;
}

details[open] summary {
  list-style-type: none;
}

details summary {
  list-style-type: none;
}
