@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap");
@font-face {
  font-family: "Destiny Keys";
  src: url("/Destiny_Keys.otf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.stat-grid {
  @apply grid grid-cols-2 sm:grid-cols-3 gap-2 mt-2;
}

.stat-card {
  @apply px-4 py-3 border border-gray-mantine-dark bg-gray-mantine-dark-100 rounded-md;
}

.feature-item {
  @apply text-sm font-bold bg-zinc-800 px-2 py-1 rounded-md;
}

.unstyled-btn {
  @apply font-inter text-center w-full hover:bg-gray-mantine-light p-2 rounded-md;
}

::placeholder {
  @apply select-none;
}

picture {
  @apply select-none;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

input[type="search"] {
  -webkit-appearance: none !important;
  border-radius: 4px !important;
}
